@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

h3{
    font-family: sans-serif;
    font-size: 15px;
}
h1{
    font-family: 'Mochiy Pop One';
    letter-spacing: 15px;
}